# Defining Variables
variables

In [ ]:
# defining  variables
a = 3

In [8]:
# changing the value of a
a = 78
b = "This is my ML practises"

In [6]:
print(a)

78

In [16]:
print(b)

This is my ML practises

In [13]:
#special words that can not be used to define variables
import keyword
print(keyword.kwlist)
print("Total number of keywords", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords 35

In [15]:
type(b),type(a)

(str, int)

Numeric operations

In [24]:
x = 50
y=10
print(x+y)
print(x*y)
print(x/y)
print(x**y)
print(y%x)#modulas

60
500
5.0
97656250000000000
10

In [29]:
#using inbuild math functions
import math
x = 3
y = math.log(x) 
print(y)
z  = math.sin(x)
print(z)

1.0986122886681098
0.1411200080598672

Logicals

In [32]:
#logical
print(4 > 9)
print( a -+ 5)

False
-3

Looping functions

If else loop

In [36]:
a =5
if a > 50:
    print('a is greater than 50')
else:
    difference = 50 -a
    print('a is less than 50 by '+str(difference) + 'units')

a is less than 50 by 45units

In [40]:
#Elif
num = int(input("Enter the number:"))

if num > 0:
    print("Entered number is Positive value:")
elif num == 0:
    print("Entered is a zeero")
else:
    print("Entered number is Negative:")

Enter the number:-88789
Entered number is Negative:

In [47]:
# Find the smallest values 
n1 = int(input("Enter first number"))
n2 = int(input("Enter second number"))
n3 = int(input("Enter third number"))

if (n1 <= n2) and (n1 <= n3):
    smallest = n1
elif(n2 <= n1) and (n2 <= n3):
    smallest = n2
else:
    smallest = n3
print( "The smallest value is: {}".format(smallest))

Enter first number66
Enter second number6778
Enter third number0
The smallest value is: 0

In [58]:
for i in range(1,10,3):
    print(i)

1
4
7

#####

In [65]:
str1 =''
for i in range(0,9):
    if i<5:
        str1  += '*'
        print(str1)
    elif i > 4:
        str1 = str1[:-2]
        print(str1)

*
**
***
****
*****
***
*

In [67]:
my_string = "Hello welcome to Machine Learning"

for n,alphabet in enumerate(my_string):
    print(alphabet,n)

H 0
e 1
l 2
l 3
o 4
  5
w 6
e 7
l 8
c 9
o 10
m 11
e 12
  13
t 14
o 15
  16
M 17
a 18
c 19
h 20
i 21
n 22
e 23
  24
L 25
e 26
a 27
r 28
n 29
i 30
n 31
g 32

In [73]:
# while loop
num = int(input("Enter the number:"))

isDivisible = False;

i = 2;
while i < num:
    if i % num == 0:
        isDivisible = True;
        print ( "{} is divisible by {}".format(num,i))
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter the number:2
2 is a Prime number

Creatin Functions

In [84]:
#functions
def cube(num):
    out = num **3
    return(out)

In [85]:
cube1 = cube(3)
print(cube1)

27

In [86]:
# calculate the factorial of a number
def factorial(n):
    if n >1:
        return n * factorial(n-1)
    else:
        return n
fact = factorial(6)
print(fact)

720

In [89]:
r = factorial(10)
print("r is " +str(r))

r is 3628800

In [90]:
def entry(*args):
    print(args)
    return( sum(args))

In [91]:
print(entry(1,2,3,4,5,6,7,8,9))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
45

In [97]:
 # using lambda function to split a string
My_string = "Welcome to my python ML "
string_to_list = lambda x: x.split()
print(string_to_list(My_string))
print(type(string_to_list))

['Welcome', 'to', 'my', 'python', 'ML']
<class 'function'>

In [98]:
# labda function in mathematical expretions
multiply = lambda x , y : x *y
print(multiply(5,5))

25

String values and operations

In [99]:
x = 'welcome'
y = "Machine learning"
x,y

('welcome', 'Machine learning')

In [101]:
len(x),len(y)

(7, 16)

In [102]:
print(x.upper())

WELCOME

In [103]:
print(y.upper())

MACHINE LEARNING

In [104]:
print(y.lower())

machine learning

In [111]:
val = "900 apples "
no_of_apples = val[:3]
print('number of apples is', no_of_apples)

number of apples is 900

In [113]:
what = val[4:]
print(what)

apples

In [4]:
A = "Data"
B = "Analysis"
C = "Numpy"
D = "Python"
print("{0} {1} using {2} {3}".format(A,B,C,D))

Data Analysis using Numpy Python