In [1]:
a = []
a

[]

In [2]:
type(a)

list

In [3]:
languages = [ 'R', 'Python', 'Sas', 'Scala', 645]
languages

['R', 'Python', 'Sas', 'Scala', 645]

In [4]:
type(languages)

list

In [5]:
print(languages[4])

645

In [6]:
print(languages[1:])

['Python', 'Sas', 'Scala', 645]

In [7]:
print(languages[1:4])

['Python', 'Sas', 'Scala']

In [8]:
#adding an element  to a list
languages = [ 'R', 'Python', 'Sas', 'Scala', 645]
languages.append('ML')
print(languages)

['R', 'Python', 'Sas', 'Scala', 645, 'ML']

In [17]:
#Removing an element from a list
languages.remove('ML')
print(languages)

['R', 'Python', 'Sas', 'Scala', 645]

In [19]:
#Removing the last element from list
languages.pop()
print(languages)

['R', 'Python', 'Sas']

In [21]:
languages.append('Deep Learning')
languages

['R', 'Python', 'Sas', 'Deep Learning', 'Deep Learning']

In [22]:
list1 = [" Machine Learning"]
print(list1*5)

[' Machine Learning', ' Machine Learning', ' Machine Learning', ' Machine Learning', ' Machine Learning']

In [23]:
print(list1 + list1)

[' Machine Learning', ' Machine Learning']

In [24]:
list2 = [1,2,3,4,5,6,7,8,9,10,11]
print(len(list2))

11

In [25]:
list2.append(12)

In [26]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [27]:
print(list2[1::2])

[2, 4, 6, 8, 10, 12]

In [28]:
print(max(list2))

12

In [30]:
print(min(list2))

1

Tuple Operation

In [34]:
first = ( 50, "Nairobi", 34.556 ,5.552)
print(first[2])

34.556

In [35]:
type(first)

tuple

In [36]:
first[0]=69

TypeError: 'tuple' object does not support item assignment

In [38]:

second =([1,'akis',4,8,'oranges'],[2,'apples',9,11,'Kenya']
        )
print(second)

([1, 'akis', 4, 8, 'oranges'], [2, 'apples', 9, 11, 'Kenya'])

In [39]:
second[0][0] = 24

In [40]:
print(second)

([24, 'akis', 4, 8, 'oranges'], [2, 'apples', 9, 11, 'Kenya'])