Working with Sets

In [4]:
stud_grades = ['A','B','C','D','E','F']
print(grades1)

['A', 'B', 'C', 'D', 'E', 'F']

In [5]:
stud_grad = set(stud_grades)

In [6]:
type(stud_grad)

set

In [7]:
print(stud_grad)

{'B', 'F', 'A', 'E', 'C', 'D'}

In [12]:
stud_grades1 = ['N','A','C','G','B','Y']
stud_grad1 = set(stud_grades1)

In [13]:
print(stud_grad1)

{'B', 'N', 'A', 'C', 'G', 'Y'}

In [16]:
# print the diffent values in sets
print(stud_grad.difference(stud_grad1))

{'F', 'D', 'E'}

In [15]:
'A' in stud_grad

True

In [17]:
#Adding an element to a set
stud_grad.add('G')

In [18]:
print(stud_grad)

{'B', 'F', 'A', 'E', 'C', 'D', 'G'}

In [19]:
#Removing an element from a set
stud_grad.remove('G')

In [20]:
print(stud_grad)

{'B', 'F', 'A', 'E', 'C', 'D'}

In [22]:
#including loop in set
for grades1 in stud_grad:
    print(grades1)

B
F
A
E
C
D

In [24]:
#printing the students grades one by one
for grades in stud_grad1:
    print(grades)

B
N
A
C
G
Y

In [25]:
#subset
stud_grad.issubset(stud_grad1)

False

In [26]:
#print the values in set that are no common ni both set
stud_grad.symmetric_difference(stud_grad1)

{'D', 'E', 'F', 'G', 'N', 'Y'}